@import "tailwindcss";
@import "./styles/globals.css";
@custom-variant dark (&:where(.dark, .dark *));

[id^="service-"] {
  scroll-margin-top: 150px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes scroll-ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-ticker-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
  animation: scroll-ticker 25s linear infinite;
}

.scroll-ticker-container:hover {
  animation-play-state: paused;
}
